@model PabxInfo.Models.DesignationAddViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>

    <div class="container" style="margin-top : 15px; margin-bottom : 250px;">
        <table class="table table-bordered table-hover">
            <thead class="" style=" background-color:#8A2BE2;">
                <tr>
                    <th style="color:black;text-align:center">SL</th>
                    
                    <th style="color:black;text-align:center"> Designation  </th>

                    <th style="color:black;text-align:center">Action</th>
                </tr>
            </thead>
            <tbody class="text-center" style="background-color : lightgray;">
                @if (Model != null && Model.Designations != null && Model.Designations.Count > 0)
                {
                    int sl = 1;
                    foreach (var designation in Model.Designations)
                    {
                        <tr>
                            <td>@(sl++)</td>
                            
                            <td>@designation.DesignationName</td>



                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
